
    </head>

    <body>
        <div class="post", id="rock_post">
            <div id="post_id" style="display: none;" >111</div>
            <div class="post_user">
                <h3 id="post_username">Salavander</h3>
                <i id="ellipsis" class="fas fa-ellipsis-h"></i>
            </div>

            <img id="post_pic" src="https://storage.googleapis.com/example-bucket-rocks/images/0005159a-de49-43e2-bb7a-4ca693a5425d.jpg" alt="">

            <div class="likes-and-comments">
                <form class="icons" id="icons">
                    <button id="thumbs_up_icon" class="fa fa-thumbs-up fa-2x" type="submit"></button>
                    <div style="display: none" id="liked">0</div>

                </form>

                <div class="likes">
                    <h3 id="likes">321 likes</h3>
                </div>

                <div class="comments">
                    <h4 class="comment" id="caption_username"><strong>Salavander</strong> I drew this :D</h4>
                   
                    <h4 class="comment" id="comment_username"><strong>prachi_the_owl</strong> This is the worst drawing I've ever seen</h4>
                    <p id="time">Rock O'Clock AM</p>
                </div>
                
                <form class="add_comment_section" id="comment-form">
                    <div class="write_comment_section">
                        <i id="smiley_icon" class="far fa-smile fa-2x"></i>
                        <h5 id="add_a_comment"><textarea name="message" placeholder="Add a comment..."></textarea></h5>
                    </div>
                
                    <button type="submit">Post</button>
                </form>
                <script>
                    const form = document.getElementById('comment-form');
                    form.addEventListener('submit', (event) => {
                        event.preventDefault();

                        const name = "Joe";
                        const message = form.elements['message'].value;
                        const postId = document.getElementById("post_id").innerHTML;

                        fetch('/comment', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                name: name,
                                message: message,
                                postId: postId
                            })
                        })
                        .then(response => response.json())
                        .then(data => {
                            console.log(data.message);
                        })
                        .catch(error => {
                            console.error(error);
                        });
                    });
                    const form2 = document.getElementById('icons');
                    console.log(form2)
                    form2.addEventListener('submit', (event) => {
                        event.preventDefault()
                        const liked = document.getElementById("liked").innerHTML;
                        console.log(liked)
                        if (liked == "10") {
                            return;
                        }
                        document.getElementById("liked").innerHTML = "10";
                        const postId = document.getElementById("post_id").innerHTML;
                        const name = "joe"
                        var num_likes = document.getElementById("likes").innerHTML;

                        console.log("hi")
                        num_likes = parseInt(num_likes.split(' ')[0]);
                        
                        var like_word = "Likes"
                        if (num_likes == 0) {
                            like_word = "Like";
                        }
                        console.log((num_likes+1).toString() + " " + like_word)
                        document.getElementById("likes").innerHTML = (num_likes+1).toString() + " " + like_word;

                        console.log(num_likes)
                        fetch('/like', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                postId: postId
                            })
                        })
                        .then(response => response.json())
                        .then(data => {
                            console.log(data.message);
                        })
                        .catch(error => {
                            console.error(error);
                        });
                    });
                </script>
            </div>
        </div>
    </body>
</html>
