<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Post</title>
        <link rel="stylesheet" href="../static/styles.css">

    </head>

    <body>
        <div class="post", id="rock_post">
            <div class="post_user">
                <h3 id="post_username">Salavander</h3>
                <i id="ellipsis" class="fas fa-ellipsis-h"></i>
            </div>

            <img id="post_pic" src="https://i.pinimg.com/originals/f4/e6/ca/f4e6caf6890d04b38f2a169053108d6b.jpg" alt="">

            <div class="likes-and-comments">
                <div class="icons">
                    <i id="thumbs_up_icon" class="fa fa-thumbs-up fa-2x"></i>
                    <i id="thumbs_down_icon" class="fa fa-thumbs-down fa-2x fa-flip-horizontal"></i>
                </div>

                <div class="likes">
                    <h3 id="likes">321 likes</h3>
                </div>

                <div class="comments">
                    <h4 class="comment" id="caption_username"><strong>Salavander</strong> I drew this :D</h4>
                   
                    <h4 class="comment" id="comment_username"><strong>prachi_the_owl</strong> This is the worst drawing I've ever seen</h4>
                    <p id="time">Rock O'Clock AM</p>
                </div>
                
                <div class="add_comment_section">
                    <div class="write_comment_section">
                        <i id="smiley_icon" class="far fa-smile fa-2x"></i>
                        <h5 id="add_a_comment">Add a comment...</h5>
                    </div>
                    <a id="post" href="#">Post</a>
                </div>
            </div>
        </div>
    </body>
</html>
