<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="UTF-8"><title>Rock Page</title>
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"> -->
        <script src="https://unpkg.com/konva@8/konva.min.js"></script>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rock Page</title>
    </head>
    <body>
        {% include 'includes/header.html' %}
        <!-- <h1> Hi {{user.firstName}}  {{user.lastName}}! </h1> -->
        <div id="content">
            <div id="grid_container"></div>
            <script lang="text/javascript" src="/static/script.js"></script>
            <button id="showDivButton">Show Div</button>
            <script>
                function showDiv() {
                  var div = document.getElementById("rock_post");
                  if (div.style.display === "none") {
                    div.style.display = "block";
                  } else {
                    div.style.display = "none";
                  }
                }
                document.getElementById("showDivButton").addEventListener("click", showDiv);
            </script>
            {% include "includes/post.html" %}
        </div>
    </body>
</html>